@import './fonts';

.section--services {
    margin-block-start: 102px;
    margin-block-end: 220px;
}

.section--services h2 {
    font-family: PoppinsMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* Gray 1 */
    color: #333333;
    max-width: 90%;
    min-width: 90%;
    margin: auto;
    margin-left: 8%;
}

.card > h3 {
    font-family: PoppinsBold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    /* Gray 1 */
    color: #333333;
}
.card > p {
    font-family: PoppinsRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* Gray 2 */
    color: #4F4F4F;
}
.card--image__wraper {
    border-radius: 16px;
    width: 67px;
}
.edit {
    background: #2D9CDB;
}
.arrows {
    background: #27AE60;
}
.card__image {
    padding: 1rem;
    position: relative;
    left: 4px;
    top: 2px;
}

.storage {
    padding-block-start: 0;
    padding-block-end: 0;
    background: #EB5757;
}

.get--started {
    padding-block-start: 9px;
    padding-block-end: 9px;
    background: #E0E0E0;
    border-radius: 12px;
    width: 116px;
    border: none;
    cursor: pointer;
    
    font-family: PoppinsMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #828282;
}
.get--started:hover {
    color: #E0E0E0;
    background: #2D9CDB;
}

.card {
    width: 273px;
    padding: 8%;
    background: #FFFFFF;
    margin-block-end: 16px;
    border-radius: 24px;
}
.card:hover {
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}


// ******** 

.components--good--design figure {
    margin: 0;
    position: relative; 
}

.components--good--design img {
    max-width: 100%;
    min-width: 100%;
    border-radius: 12px;
}

.components--good--design p {
    font-family: PoppinsRegular;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    /* Gray 3 */
    color: #828282;
}

.components--good--design figcaption {
    font-family: PoppinsBold;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* Gray 1 */
    color: #333333;
}
.see--more {
    list-style: none;
    padding: 0;
}
.more--link {
    font-family: PoppinsMedium;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #2D9CDB;

}

@media (min-width: 768px) {
.section--services {
    max-width: 90%;
    min-width:  90%;
    margin: auto;
    margin-block-start: 102px;
    margin-block-end: 220px;
}

.section--services h2 {
    width: 346px;
    font-size: 36px;
    line-height: 54px;
    max-width: unset;
    min-width: unset;
    margin: auto;
    margin-left: unset;
}
.section--services .good--design {
    width: 448px;
}
.components__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.card {
    width: auto;
    padding: 8%;
}

// *******
.components--good--design {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.components--good--design p {
    font-size: 14px;
    line-height: 21px;

}

.components--good--design figure:nth-of-type(odd) {
    margin-top: 94px;
    
}

.components--good--design figcaption {
    font-size: 24px;
    line-height: 36px;
}
.see--more {
    position: relative;
    bottom: 48px;
    max-width: fit-content;
    margin-right: 0;
    margin-left: auto;
}

}
